
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Saida {{veiculo.placa}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Dados do carro:</p>
        Placa: {{veiculo.placa}} <br>
        Marca: {{veiculo.marca}} <br>
        Modelo: {{veiculo.modelo}} <br>
        Cor: {{veiculo.cor}} <br>
        Entrada: {{veiculo.entrada | date:'HH:mm dd/MM/yy'}} <br>
        Saida: {{veiculo.saida | date:'HH:mm dd/MM/yy'}} <br>
        Tempo: {{veiculo.tempo}} minutos <br>
        Placa: {{veiculo.valor}} reais <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onImprimir()" >Imprimir</button>
      </div>
    </div>

