<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Mês</th>
      <th scope="col">Quantidade de Carros</th>
      <th scope="col">Faturamento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Janeiro</td>
      <td>100</td>
      <td>R$1000,00</td>
    </tr>
    <tr>
      <td>Fevereiro</td>
      <td>98</td>
      <td>R$900,00</td>
    </tr>
    <tr>
      <td>Março</td>
      <td>120</td>
      <td>R$1250,00</td>
    </tr>
    <tr>
      <td>Abril</td>
      <td>200</td>
      <td>R$2200,00</td>
    </tr>
    <tr>
      <td>Maio</td>
      <td>120</td>
      <td>R$1100,00</td>
    </tr>
    <tr>
      <td>Junho</td>
      <td>100</td>
      <td>R$1100,00</td>
    </tr>
    <tr>
      <td>Julho</td>
      <td>95</td>
      <td>R$980,00</td>
    </tr>
    <tr>
      <td>Agosto</td>
      <td>150</td>
      <td>R$1500,00</td>
    </tr>
    <tr>
      <td>Setembro</td>
      <td>200</td>
      <td>R$2120,00</td>
    </tr>
    <tr>
      <td>Outubro</td>
      <td>102</td>
      <td>R$1010,00</td>
    </tr>
    <tr>
      <td>Novembro</td>
      <td>103</td>
      <td>R$1010,00</td>
    </tr>
    <tr>
      <td>Dezembro</td>
      <td>127</td>
      <td>R$1220,00</td>
    </tr>
  </tbody>
</table>
